version = 0.27.0
profile = conventional
break-cases = toplevel
break-infix = fit-or-vertical
exp-grouping = preserve
if-then-else = fit-or-vertical
let-binding-deindent-fun = false
margin = 100
type-decl = sparse
wrap-fun-args = false
