<!DOCTYPE NETSCAPE-Bookmark-file-1>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<TITLE>Bookmarks</TITLE>
<H1>Bookmarks</H1>
<DL><p>
{%- for entity in entities %}
    <DT><A HREF="{{ entity.uri }}" ADD_DATE="{{ entity.createdAt | int }}"{% if entity.updatedAt %} LAST_MODIFIED="{{ entity.updatedAt[0] | int }}"{% endif %}{% if entity.labels %} TAGS="{{ entity.labels | join(",") }}"{% endif %}{% if not entity.shared %} PRIVATE="1"{% endif %}{% if entity.toRead %} TOREAD="1"{% endif %}{% if entity.isFeed %} FEED="true"{% endif %}{% if entity.lastVisitedAt %} LAST_VISIT="{{ entity.lastVisitedAt | int }}"{% endif %}>{% if entity.names %}{{ entity.names[0] }}{% else %}{{ entity.uri }}{% endif %}</A>
{%- if entity.extended %}
    <DD>{{ entity.extended }}
{%- endif %}
{%- endfor %}
</DL><p>
