name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  linux-flake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: henrytill
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build -L .#hbt-cli -o result-hbt-ocaml

  linux-flake-static:
    needs: linux-flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: henrytill
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build -L .#hbt-cli-static -o result-hbt-ocaml-static
      - uses: actions/upload-artifact@v6
        with:
          name: hbt-x86_64-unknown-linux-musl
          path: result-hbt-ocaml-static/bin/hbt
